---
const personalImageAlt = 'Carlos Rivas'
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="max-[640px]:mx-8">
      Desarrollador de software con 3 años de experiencia, con sólidos
      conocimientos en la construcción de interfaces web | mobile responsivas y
      accesibles.
      <br />
      <br />
      Poseo experiencia en arquitecturas de microfrontends, integración de servicios
      RESTful y administración de servidores. <strong
        >Implemento procesos de CI/CD utilizando GitHub Actions y AWS
        CodePipeline</strong
      >, y aplico sistemáticamente principios <strong
        >SOLID, patrones de diseño y pruebas unitarias, integración y end-to-end</strong
      > para garantizar código de alta calidad.
      <br />
      <br />
      Disfruto trabajando en equipos ágiles y me encuentro en constante desarrollo
      profesional, actualmente enfocado en mejorar mis habilidades de comunicación
      en inglés.
      <br />
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/dev/calochop_graduation.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
