---
import EducationItem from './EducationItem.astro'
const { t } = Astro.props
const education = t.education.information
---

<ol class="relative mt-16">
  {
    education.map((education: any) => (
      <li class="max-[640px]:mx-6">
        <EducationItem {...education} />
      </li>
    ))
  }
</ol>
