---
import EducationItem from './EducationItem.astro'
const EDUCATION = [
  {
    school: 'Universidad Señor de Sipán - USS',
    title: 'Ingeniería de sistemas',
    date: '2017 - 2022',
  },
  {
    school: 'Centro de Idiomas - USS',
    title: 'Inglés',
    date: '2017 - 2020',
  },
  {
    school: 'Centro de Informática y Sistemas - USS',
    title: 'Computación',
    date: '2020 - 2021',
  },
]
---

<ol class="relative mt-16">
  {
    EDUCATION.map((education) => (
      <li class="max-[425px]:mx-6">
        <EducationItem {...education} />
      </li>
    ))
  }
</ol>
