---
import ExperienceItem from './ExperienceItem.astro'
const { t } = Astro.props
const experience = t.experience.information
---

<ol class="relative mt-16 max-[640px]:mx-6">
  {
    experience.map((experiencie: any) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
