---
import Javascript from '@/components/icons/javascript.astro'
import Typescript from '@/components/icons/typescript.astro'
import Python from '@/components/icons/python.astro'
import Php from '@/components/icons/php.astro'
import Postgresql from '@/components/icons/postgresql.astro'
import Mysql from '@/components/icons/mysql.astro'
import Sql from '@/components/icons/sql.astro'
import Git from '@/components/icons/git.astro'
import Github from '@/components/icons/GitHub.astro'
import Sourcetree from '@/components/icons/sourcetree.astro'
import Vue from '@/components/icons/vue.astro'
import Flutter from '@/components/icons/flutter.astro'
import Django from '@/components/icons/django.astro'
import Laravel from '@/components/icons/laravel.astro'
import Postman from '@/components/icons/postman.astro'
import Putty from '@/components/icons/putty.astro'
import Apexcharts from '@/components/icons/apexcharts.astro'
import Highcharts from '@/components/icons/highcharts.astro'
import Quasar from '@/components/icons/quasar.astro'
import Filezilla from '@/components/icons/Filezilla.astro'
import AwsS3 from '@/components/icons/AwsS3.astro'
import AwsDynamo from '@/components/icons/AwsDynamo.astro'
import Pinia from '@/components/icons/pinia.astro'
import JasperReport from '@/components/icons/jaspersoft.astro'
import Sqlserver from '@/components/icons/sqlserver.astro'
import Datagrip from '@/components/icons/datagrip.astro'

const TAGS = {
  SQLSERVER: {
    name: 'SQL Server',
    class: 'bg-blue text-blue',
    icon: Sqlserver,
  },
  DATAGRIP: {
    name: 'Datagrip',
    class: 'bg-blue text-blue',
    icon: Datagrip,
  },
  JASPERREPORT: {
    name: 'JasperReport',
    class: 'bg-blue text-blue',
    icon: JasperReport,
  },
  PINIA: {
    name: 'Pinia',
    class: 'bg-blue text-blue',
    icon: Pinia,
  },
  AWSDynamo: {
    name: 'DynamoDB',
    class: 'bg-blue text-blue',
    icon: AwsDynamo,
  },
  AWSS3: {
    name: 'S3',
    class: 'bg-blue text-blue',
    icon: AwsS3,
  },
  FILEZILLA: {
    name: 'Filezilla',
    class: 'bg-blue text-blue',
    icon: Filezilla,
  },
  QUASAR: {
    name: 'Quasar',
    class: 'bg-blue text-blue',
    icon: Quasar,
  },
  PUTTY: {
    name: 'Putty',
    class: 'bg-blue text-blue',
    icon: Putty,
  },
  APEXCHARTS: {
    name: 'Apexcharts',
    class: 'bg-blue text-blue',
    icon: Apexcharts,
  },
  HIGHCHARTS: {
    name: 'Highcharts',
    class: 'bg-blue text-blue',
    icon: Highcharts,
  },
  POSTMAN: {
    name: 'Postman',
    class: 'bg-blue text-blue',
    icon: Postman,
  },
  LARAVEL: {
    name: 'Laravel',
    class: 'bg-blue text-blue',
    icon: Laravel,
  },
  DJANGO: {
    name: 'Django',
    class: 'bg-blue text-blue',
    icon: Django,
  },
  FLUTTER: {
    name: 'Flutter',
    class: 'bg-blue text-blue',
    icon: Flutter,
  },
  VUE: {
    name: 'Vue',
    class: 'bg-blue text-blue',
    icon: Vue,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-yellow text-blue',
    icon: Javascript,
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-red text-blue',
    icon: Typescript,
  },
  PYTHON: {
    name: 'Python',
    class: 'bg-black text-blue',
    icon: Python,
  },
  PHP: {
    name: 'Php',
    class: 'bg-black text-blue',
    icon: Php,
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    class: 'bg-black text-blue',
    icon: Postgresql,
  },
  MYSQL: {
    name: 'MySQL',
    class: 'bg-[#003159] text-blue',
    icon: Mysql,
  },
  SQL: {
    name: 'SQL',
    class: 'bg-[#003159] text-blue',
    icon: Sql,
  },
  GIT: {
    name: 'Git',
    class: 'bg-black text-blue',
    icon: Git,
  },
  GITHUB: {
    name: 'GitHub',
    class: 'bg-[#003159] text-blue',
    icon: Github,
  },
  SOURCETREE: {
    name: 'SourceTree',
    class: 'bg-[#003159] text-blue',
    icon: Sourcetree,
  },
}

const SKILLS = [
  {
    skills: [
      // Lenguaje
      TAGS.JAVASCRIPT,
      TAGS.TYPESCRIPT,
      TAGS.PHP,
      TAGS.PYTHON,
      TAGS.SQL,
      // Framework
      TAGS.VUE,
      TAGS.QUASAR,
      TAGS.FLUTTER,
      TAGS.LARAVEL,
      TAGS.DJANGO,
      // Libreria
      TAGS.PINIA,
      TAGS.APEXCHARTS,
      TAGS.HIGHCHARTS,
      // Otros
      TAGS.FILEZILLA,
      TAGS.PUTTY,
      // DB
      TAGS.SQLSERVER,
      TAGS.MYSQL,
      TAGS.POSTGRESQL,
      TAGS.AWSDynamo,
      TAGS.AWSS3,
      // CVS
      TAGS.GIT,
      TAGS.GITHUB,
      TAGS.SOURCETREE,
      // IDE
      TAGS.DATAGRIP,
      // Otros
      TAGS.POSTMAN,
      TAGS.JASPERREPORT,
    ],
  },
]
---

<div class="flex flex-col gap-y-8">
  {
    SKILLS.map(({ skills }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full">
          <ul class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-5 max-[425px]:grid-cols-2 gap-4 mx-4">
            {skills.map((skill) => (
              <li class="col-span-1">
                <span
                  class={`block px-8 py-6 text-center bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 hover:shadow-lg dark:hover:shadow-lg-light ${skill.class} truncate`}
                >
                  <skill.icon class="w-12 h-12 mx-auto" />
                  {skill.name}
                </span>
              </li>
            ))}
          </ul>
        </div>
      </article>
    ))
  }
</div>
