---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<img 
  class="rounded-full w-12 h-12 mb-4" 
  src="https://avatars.githubusercontent.com/u/50759985?s…00&u=d1b59d387973d3bc6520fec7509417a2f0dc99ba&v=4" 
  alt="Logo Git User" >

			<h1 class="text-white text-5xl font flex flex-row gap-x-4 pb-4">Hey, soy Calochop :3
				<a class="flex justify-center items-center"
				href="https://www.linkedin.com/in/calochop"
				target="_blank"
				rel="noopener"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text 2xl text-white opacity-80">
				+15 años de experiencia. Desarrollador web y Creador de contenido. De Barcelona, España. ES  🇪🇸
				Especializado en crear aplicacion únicas.
			</h2>
		</section>
	</main>
</Layout>