---
import Layout from '@/layouts/Layout.astro'

import SectionContainer from '@/components/SectionContainer.astro'

import AboutMe from '@/components/AboutMe.astro'
import Experience from '@/components/Experience.astro'
import Hero from '@/components/Hero.astro'
import Education from '@/components/Education.astro'
import Skills from '@/components/Skills.astro'
// import Projects from '@/components/Projects.astro'
import Contact from '@/components/Contact.astro'

import BriefCase from '@/components/icons/BriefCase.astro'
import CodeIcon from '@/components/icons/Code.astro'
import ProfileCheck from '@/components/icons/ProfileCheck.astro'
import Certificate from '@/components/icons/Certificate.astro'
import Mail from '@/components/icons/Mail.astro'
---

<Layout
  title="Porfolio de Calochop :3 - Desarrollador y Programador Web con 3 años de experiencia"
  description="Contrata a calochop :3 para crear tu aplicación web o móvil. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <!-- Dejar como flotante en un nota -->
  <!-- <div class="floating-notes">
    <div class="note">
      <p>Pendiente btn: contactame</p>
      <p>Icons de cada experiencia laboral (5max)</p>
      <p>
        Proyectos, visualizar el codigo si esta disponible y el preview tbm o
        mostrar en mantenimiento
      </p>
      <p>Terminar sección educación</p>
      <p>Contacto del footer</p>
    </div>
  </div> -->

  <!-- Dejar como flotante en un nota -->

  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="inicio">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <BriefCase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <!-- <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <BrowserCheck class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer> -->

    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="educacion">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Certificate class="size-7" />
        Educación
      </h2>
      <Education />
    </SectionContainer>

    <SectionContainer id="habilidades">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Habilidades
      </h2>
      <Skills />
    </SectionContainer>
    <SectionContainer id="contacto">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Mail class="size-7" />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </div>
</Layout>
