---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCIE = [
  {
    date: 'dic. 2022 - actualidad · 1 año 7 meses',
    title: 'Supervisor I+D',
    company: 'Innovahtec solutions',
    description:
      'Líder de proyecto, evalúo los requisitos del cliente, comunico al equipo las modificaciones implementadas en el entorno de pruebas antes de realizar el pase a producción.',
    link: 'https://gpr.grupoeducad.edu.pe/',
  },
  {
    date: 'jun. 2022 - nov. 2022 · 6 meses',
    title: 'Analista de programación',
    company: 'Inversiones CH',
    description:
      'Participación y mantenimiento de ERP financiero, analizando los requerimientos, especificaciones de diseño, realizando pruebas y validando los procesos de cada módulo.',
  },
  {
    date: 'feb. 2022 - jul. 2022 · 6 meses',
    title: 'Practicante de programación',
    company: 'Municipalidad Provincial de Chiclayo - MPCH',
    description:
      'Lidere el diseño y desarrollo de sistemas web para las áreas asignadas, abordando desafíos técnicos y necesidades del negocio de manera integral.',
    link: 'https://www.munichiclayo.gob.pe/mesaservicioti/',
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
