---
import Javascript from './icons/javascript.astro'
import Typescript from './icons/typescript.astro'
import Python from './icons/python.astro'
import Php from './icons/php.astro'
import Postgresql from './icons/postgresql.astro'
import Mysql from './icons/mysql.astro'
import Sql from './icons/sql.astro'
import Git from './icons/git.astro'
import Github from './icons/GitHub.astro'
import Sourcetree from './icons/sourcetree.astro'
import Vue from './icons/vue.astro'

const TAGS = {
  VUE: {
    name: 'Vue',
    class: 'bg-blue text-blue',
    icon: Vue,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-yellow text-blue',
    icon: Javascript,
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-red text-blue',
    icon: Typescript,
  },
  PYTHON: {
    name: 'Python',
    class: 'bg-black text-blue',
    icon: Python,
  },
  PHP: {
    name: 'Php',
    class: 'bg-black text-blue',
    icon: Php,
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    class: 'bg-black text-blue',
    icon: Postgresql,
  },
  MYSQL: {
    name: 'MySQL',
    class: 'bg-[#003159] text-blue',
    icon: Mysql,
  },
  SQL: {
    name: 'SQL',
    class: 'bg-[#003159] text-blue',
    icon: Sql,
  },
  GIT: {
    name: 'Git',
    class: 'bg-black text-blue',
    icon: Git,
  },
  GITHUB: {
    name: 'GitHub',
    class: 'bg-[#003159] text-blue',
    icon: Github,
  },
  SOURCETREE: {
    name: 'SourceTree',
    class: 'bg-[#003159] text-blue',
    icon: Sourcetree,
  },
}

const SKILLS = [
  {
    skills: [
      TAGS.JAVASCRIPT,
      TAGS.TYPESCRIPT,
      TAGS.VUE,
      TAGS.PHP,
      TAGS.PYTHON,
      TAGS.SQL,
      TAGS.MYSQL,
      TAGS.POSTGRESQL,
      TAGS.GIT,
      TAGS.GITHUB,
      TAGS.SOURCETREE,
    ],
  },
]
---

<div class="flex flex-col gap-y-8">
  {
    SKILLS.map(({ skills }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full">
          <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
            {skills.map((skill) => (
              <li class="col-span-1">
                <span
                  class={`block px-8 py-6 text-center bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-600 hover:shadow-lg dark:hover:shadow-lg-light ${skill.class} `}
                >
                  <skill.icon class="w-12 h-12 mx-auto" />
                  {skill.name}
                </span>
              </li>
            ))}
          </ul>
        </div>
      </article>
    ))
  }
</div>
