---
import SunIcon from './icons/Sun.astro'
import MoonIcon from './icons/Moon.astro'
---

<div class="relative ml-1 mr-1">
  <button
    id="theme-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
    aria-label="Cambiar tema"
  >
    <SunIcon id="light" class="theme-toggle-icon size-5 transition-all" />
    <MoonIcon
      id="dark"
      class="theme-toggle-icon absolute size-5 transition-all"
    />
  </button>
</div>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
  }

  // Función para actualizar los iconos según el tema
  const updateIcon = (theme) => {
    const sunIcon = document.getElementById('light')
    const moonIcon = document.getElementById('dark')

    if (!sunIcon || !moonIcon) return

    if (theme === 'light') {
      sunIcon.style.transform = 'scale(1)'
      moonIcon.style.transform = 'scale(0)'
    } else {
      sunIcon.style.transform = 'scale(0)'
      moonIcon.style.transform = 'scale(1)'
    }
  }

  const applyTheme = () => {
    const theme = getThemePreference()
    document.documentElement.classList.toggle('dark', theme === 'dark')
    updateIcon(theme)
  }

  const toggleTheme = () => {
    const currentTheme = getThemePreference()
    const newTheme = currentTheme === 'light' ? 'dark' : 'light'
    localStorage.setItem('theme', newTheme)
    document.documentElement.classList.toggle('dark', newTheme === 'dark')
    updateIcon(newTheme)
  }

  const setupThemeToggle = () => {
    const toggleBtn = document.getElementById('theme-toggle-btn')
    if (toggleBtn) {
      toggleBtn.removeEventListener('click', toggleTheme)
      toggleBtn.addEventListener('click', toggleTheme)
      console.log('Event listener de tema configurado correctamente')
    }

    applyTheme()
  }

  window
    .matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change', ({ matches }) => {
      if (!localStorage.getItem('theme')) {
        const theme = matches ? 'dark' : 'light'
        document.documentElement.classList.toggle('dark', theme === 'dark')
        updateIcon(theme)
      }
    })

  document.addEventListener('DOMContentLoaded', setupThemeToggle)

  document.addEventListener('astro:page-load', setupThemeToggle)

  if (
    document.readyState === 'complete' ||
    document.readyState === 'interactive'
  ) {
    setupThemeToggle()
  }
</script>
